/* .body1{
    margin-top: 140px;
} */
.div1 {
  font-size: 25px;
  color: rgb(7, 7, 7);
  text-decoration: underline rgb(219, 159, 28) 5px;
  text-underline-offset: 12px;
}
.div2 {
  font-size: 30px;
  font-weight: 500;
  width: 600px;
}
.aboutimg {
  width: 700px;
  height: 500px;
}
.content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .div2 {
    font-size: 20px;
    font-weight: 200;
    width: 350px;
  }
  .aboutimg {
    width: 300px;
    height: 250px;
  }
}
